<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/layouts/forms/social-profile/style.css" class="css">
</head>
<body>
<!--    <div class="slide polls social">-->
<!--    <div class="background image">-->
<!--        <img src="/public/pollsbg.jpeg" alt="Background">-->
<!--    </div>-->
<!--    <div class="container">-->
<!--        <div class="content">-->
<!--            <h3 class="hashtag">ANTÁRTICA</h3>-->
<!--            <div class="poll-container">-->
<!--                <div class="question-container">-->
<!--                    <h2 class="text-sm font-normal text-white">¿CUÁL TE GUSTARÍA QUE SEA NUESTRO SIGUIENTE ESPECIAL?</h2>-->
<!--                </div>-->
<!--                <div class="answers-container">-->
<!--                    <button class="answer">-->
<!--                        <span class="letter">A</span>-->
<!--                        Answer 1-->
<!--                    </button>-->
<!--                    <button class="answer">-->
<!--                        <span class="letter">B</span>-->
<!--                        Answer 2-->
<!--                    </button>-->
<!--                    <button class="answer">-->
<!--                        <span class="letter">C</span>-->
<!--                        Answer 3-->
<!--                    </button>-->
<!--                    <button class="answer">-->
<!--                        <span class="letter">D</span>-->
<!--                        <input type="text" placeholder="Otro..."/>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
    <div class="slide polls social">
        <div class="background image">
            <img src="/public/pollsbg.jpeg" alt="Background">
        </div>
        <div class="container">
            <div class="content">
                <h3 class="hashtag">PROXIMOTEMA</h3>
                <div class="poll-container">
                    <img class="profile-photo" />
                    <div class="question-container">
                        <p class="text-base font-normal text-black">¿Que historia te gustaría para nuestra próxima canción?</p>
                    </div>
                    <div class="answers-container">
                        <button class="answer">
                            <input type="text" placeholder="Otro..."/>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide polls social">
        <div class="background image">
            <img src="/public/pollsbg.jpeg" alt="Background">
        </div>
        <div class="container">
            <div class="content">
                <h3 class="hashtag">GRACIAS</h3>
                <img src="/public/thanks.png">
            </div>
        </div>
    </div>
</body>
</html>
