<html>
<head>
  <link rel="stylesheet" href="/layouts/forms/horizontal/style.css" class="css">
</head>
<body>
<div class="slide forms horizontal">
  <div class="background image bg-white clip">
    <img class="d-none" src="/public/slides_bg_form.png" />
    <img class="none d-block" src="/public/slides_bg_form_desktop.png" />
    <div class="panel">
      <div class="dots"></div>
      <svg class="svg">
        <clipPath id="bottom" clipPathUnits="objectBoundingBox"><path d="M0,0.043 C0.197,0.007,0.309,0.003,0.509,0 C0.702,0.003,0.81,0.009,1,0.043 V1 H0 V0.043"></path></clipPath>
      </svg>
    </div>
  </div>
  <div class="container-full">
    <div class="content">
      <div class="stack-y titles center">
        <h2 class="font-bold text-xl d-text-2xl">Early adopters program</h2>
        <p class="font-semibold text-4xl d-text-5xl highlight-gradient-p600-p400">OCTOBER 2023</p>
        <h3 class="font-semibold text-primary-700 text-lg d-text-3xl">GET 6 MONTHS FREE, <span class="highlight-underline">ALL ACCESS</span></h3>
      </div>
      <div class="form-container">
        <div class="form">
          <div class="form-step">
            <div class="form-field">
              <p class="text-lg">Claim your account</p>
              <div class="input-group">
                <span class="prefix font-semibold text-base">slides.site/</span>
                <input class="text-base" type="text" placeholder="name" />
              </div>
            </div>
            <div class="form-field stack-x right">
              <input class="button" type="button" value="JOIN"/>
            </div>
          </div>
          <div class="form-step">
            <img src="/thankyouform.png" />
          </div>
        </div>
      </div>
      <div class="stack-y button-container center">
        <div class="stack-y message">
          <p class="text-xl  font-bold text-white">Can't wait?</p>
          <h2 class="text-xl font-normal text-white">Get your slidesite in 7 days</h2>
        </div>
        <input type="button" class="button light" value="GET STARTED" />
      </div>
    </div>
  </div>
</div>

</body>
</html>
