<html>
<head>
    <link rel="stylesheet" href="/layouts/hero/hero-split/style.css" class="css">
</head>
<body>
<div class="slide hero hero-split">
    <div class="background bg-primary"></div>
    <div class="container-full">
        <div class="content">
            <div class="split-box">
                <div class="heading">
                    <h1 class="text-3xl d-text-5xl font-black text-white">MUTILACIÓN<br>GENITAL <span class="highlight-normal">FEMENINA</span></h1>
                    <div class="media bg-secondary">
                        <video></video>
                    </div>
                </div>
                <div class="footer">
                    <p class="text-base d-text-xl font-normal">La sangrienta prohibición del placer de millones de mujeres</p>
                    <a class="button" href="#">VER ESPECIAL</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
