<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/layouts/gallery/antartica/style.css" class="css">
</head>
<body>
<div class="slide slide-gallery antartica-gallery">
    <div class="background image">
        <img src="/public/gallery1.png" alt="Background">
    </div>
    <div class="container-full">
        <div class="content">
            <div class="stack-y detail">
                <p class="text-base font-medium">02-03-2023</p>
                <h3 class="text-base font-black">ETIOPIA, AFRICA</h3>
                <h2 class="text-3xl font-black">CENTRO DE REFUGIADOS</h2>
                <p class="text-sm">La sangrienta prohibición del placer en el cuerpo de millones de mujeres. La
                    sangrienta prohibición del placer en el cuerpo de millones de mujeres. La sangrienta prohibición del
                    placer en el cuerpo de millones de mujeres.</p>
                <div class="button-container">
                    <a class="button" href="#">VER ESPECIAL</a>
                </div>
            </div>
            <div class="gallery-container">
                <div class="controls">
                    <img src="/public/back_arrow.svg"/>
                </div>
                <div class="gallery-wrapper">
                    <div class="gallery-scroll">
                        <div class="gallery">
                            <div class="item active" style="opacity: 1;">
                                <div class="image"><img
                                        src="https://dpvwr84jw9zed.cloudfront.net/antarticapress/detras/1aeropuertoWilson_H.png">
                                </div>
                                <div class="stack-y item-detail"><h3 class="text-sm font-black">NAIROBI, KENIA</h3>
                                    <h2 class="text-xl font-medium text-primary">EL INESPERADO AEROPUERTO DE WILSON</h2>
                                </div>
                            </div>
                            <div class="item " style="opacity: 1;">
                                <div class="image"><img
                                        src="https://dpvwr84jw9zed.cloudfront.net/antarticapress/detras/2sequia_H.png">
                                </div>
                                <div class="stack-y item-detail"><h3 class="text-sm font-black">GARISSA, KENIA</h3>
                                    <h2 class="text-xl font-medium text-primary">LA PEOR SEQUÍA EN 40 AÑOS</h2></div>
                            </div>
                            <div class="item " style="opacity: 1;">
                                <div class="image"><img
                                        src="https://dpvwr84jw9zed.cloudfront.net/antarticapress/detras/3khat_H.png">
                                </div>
                                <div class="stack-y item-detail"><h3 class="text-sm font-black">GARISSA, KENIA</h3>
                                    <h2 class="text-xl font-medium text-primary">KHAT, LA DROGA MÁS POPULAR DE
                                        KENIA</h2></div>
                            </div>
                            <div class="item " style="opacity: 1;">
                                <div class="image"><img
                                        src="https://dpvwr84jw9zed.cloudfront.net/antarticapress/detras/4camello_H.png">
                                </div>
                                <div class="stack-y item-detail"><h3 class="text-sm font-black">NAIROBI, KENIA</h3>
                                    <h2 class="text-xl font-medium text-primary">CAMELLO, EL ANIMAL MÁS VERSÁTIL</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
