<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layouts/links/slides/style.css" class="css">
</head>
<body>
    <div class="slide links slides">
    <div class="background bg-white image">
        <img class="d-none" src="/public/slides_bg_links.png" />
        <img class="none d-block" src="/public/slides_bg_links_desktop.png" />
    </div>
    <div class="container">
        <div class="content">
            <div class="stack-y header center">
                <div class="profile-photo-container">
                    <img class="profile-photo" src="/public/slides_logo.png" />
                </div>
                <h2 class="text-primary font-bold text-2xl d-text-3xl">slides</h2>
                <p class="font-light text-sm d-text-xl text-primary-900">
                    Your swipe-up website in seconds.
                </p>
                <div class="stack-x social">
                    <a class="social-button youtube" href="#"></a>
                    <a class="social-button tiktok" href="#"></a>
                    <a class="social-button instagram" href="#"></a>
                    <a class="social-button twitter" href="#"></a>
                    <a class="social-button linkedin" href="#"></a>
                </div>
            </div>
            <div class="stack-y buttons">
                <a class="link-button" href="#">MUTILACIÓN GENITAL FEMENINA</a>
                <a class="link-button" href="#">SOBRE NOSOTROS</a>
                <a class="link-button" href="#">DETRAS DE LOS ESPECIALES</a>
                <a class="link-button" href="#">PROPONE EL SIGUIENTE ESPECIAL</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
