@font-face {
    font-family: 'Knockout';
    font-style: normal;
    font-display: block;
    src: url(https://dpvwr84jw9zed.cloudfront.net/antarticapress/fonts/Knockout-HTF74-FullSumo.otf);
}

@font-face {
    font-family: 'Knockout';
    font-style: normal;
    font-weight: 100;
    font-display: block;
    src: url(https://dpvwr84jw9zed.cloudfront.net/antarticapress/fonts/Knockout-HTF46-Flyweight.otf);
}
