<html>
<head>
    <link rel="stylesheet" href="/layouts/hero/hero-card/style.css" class="css">
</head>
<body>
<div class="slide hero hero-card">
    <div class="background dots bg-primary"></div>
    <div class="media">
        <video></video>
    </div>
    <div class="container">
        <div class="content">
            <div class="card">
                <h1 class="text-3xl d-text-4xl font-black">MUTILACIÓN GENITAL <span class="highlight-normal">FEMENINA</span></h1>
                <p class="text-base d-text-xl font-normal">La sangrienta prohibición del placer de millones de mujeres</p>
                <a class="button" href="#">VER ESPECIAL</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
