<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layouts/links/antartica/style.css" class="css">
</head>
<body>
<div class="slide links slides">
    <div class="background dots bg-primary"></div>
    <div class="container">
        <div class="content">
            <div class="stack-y header center">
                <div class="profile-photo-container">
                    <img class="profile-photo" src="https://slites-site.s3.us-west-1.amazonaws.com/antarticapress/ANPress01.png"/>
                </div>
                <h2 class="text-primary font-bold text-2xl d-text-3xl none">Antartica</h2>
                <p class="font-light text-sm d-text-lg text-white">
                    Es un medio de comunicación que une periodismo en territorio con acción directa.
                </p>
                <div class="stack-x social"><a class="social-button youtube" target="_blank"
                                               href="https://youtube.com/@antarticapress"></a><a
                        class="social-button tiktok" target="_blank" href="https://tiktok.com/@antarticapress"></a><a
                        class="social-button instagram" target="_blank" href="https://instagram.com/antarticapress"></a><a
                        class="social-button twitter" target="_blank" href="https://twitter.com/antarticapress"></a>
                </div>
            </div>
            <div class="stack-y buttons">
                <a class="link-button" href="#">MUTILACIÓN GENITAL FEMENINA</a>
                <a class="link-button" href="#">SOBRE NOSOTROS</a>
                <a class="link-button" href="#">DETRAS DE LOS ESPECIALES</a>
                <a class="link-button" href="#">PROPONE EL SIGUIENTE ESPECIAL</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
