<html>
<head>
  <link rel="stylesheet" href="/layouts/features/slides/style.css" class="css">
</head>
<body>
  <div class="slide features features-slides">
  <div class="background image bg-white clip">
    <img class="d-none" src="/public/slides_bg_reasons.png" />
    <img class="none d-block" src="/public/slides_bg_reasons_desktop.png" />
    <div class="panel">
      <div class="dots"></div>
      <svg class="svg">
        <clipPath id="desktop" clipPathUnits="objectBoundingBox"><path d="M0,0 H0.936 C0.986,0.191,0.999,0.3,1,0.496 C0.99,0.696,0.975,0.806,0.936,1 H0 V0"></path></clipPath>
      </svg>
      <svg class="svg-top">
        <clipPath id="mobile" clipPathUnits="objectBoundingBox"><path d="M0,0 H1 V0.964 C0.808,0.992,0.699,1,0.503,1 C0.301,0.999,0.189,0.997,0,0.964 V0"></path></clipPath>
      </svg>
    </div>
  </div>
  <div class="container-full">
    <div class="content">
      <div class="carrousel-container">
        <div class="stack-x carrousel">
          <div class="stack-y item active">
            <div class="illustration-container d-none">
              <div class="illustration"></div>
            </div>
            <div class="card">
              <h2 class="text-xl font-semibold d-font-normal">Drive more sales</h2>
              <p class="text-sm d-none text-neutral-400 font-normal">All slides include a CTA, and are designed to fit only the important</p>
            </div>
          </div>
          <div class="stack-y item">
            <div class="illustration-container d-none">
              <div class="illustration"></div>
            </div>
            <div class="card">
              <h2 class="text-xl font-semibold d-font-normal">Collect leads</h2>
              <p class="text-sm d-none text-neutral-400 font-normal">All slides include a CTA, and are designed to fit only the important</p>
            </div>
          </div>
          <div class="stack-y item">
            <div class="illustration-container d-none">
              <div class="illustration"></div>
            </div>
            <div class="card">
              <h2 class="text-xl font-semibold d-font-normal">Email Marketing</h2>
              <p class="text-sm d-none text-neutral-400 font-normal">All slides include a CTA, and are designed to fit only the important</p>
            </div>
          </div>
          <div class="stack-y item">
            <div class="illustration-container d-none">
              <div class="illustration"></div>
            </div>
            <div class="card">
              <h2 class="text-xl font-semibold d-font-normal">Google and Meta Ads</h2>
              <p class="text-sm d-none text-neutral-400 font-normal">All slides include a CTA, and are designed to fit only the important</p>
            </div>
          </div>
          <div class="stack-y item">
            <div class="illustration-container d-none">
              <div class="illustration"></div>
            </div>
            <div class="card">
              <h2 class="text-xl font-semibold d-font-normal">Google Analytics</h2>
              <p class="text-sm d-none text-neutral-400 font-normal">All slides include a CTA, and are designed to fit only the important</p>
            </div>
          </div>
          <div class="stack-y item">
            <div class="illustration-container d-none">
              <div class="illustration"></div>
            </div>
            <div class="card">
              <h2 class="text-xl font-semibold d-font-normal">Create a blog</h2>
              <p class="text-sm d-none text-neutral-400 font-normal">All slides include a CTA, and are designed to fit only the important</p>
            </div>
          </div>
          <div class="stack-y item">
            <div class="illustration-container d-none">
              <div class="illustration"></div>
            </div>
            <div class="card">
              <h2 class="text-xl font-semibold d-font-normal">Award winning SEO</h2>
              <p class="text-sm d-none text-neutral-400 font-normal">All slides include a CTA, and are designed to fit only the important</p>
            </div>
          </div>
          <div class="stack-y item">
            <div class="illustration-container d-none">
              <div class="illustration"></div>
            </div>
            <div class="card">
              <h2 class="text-xl font-semibold d-font-normal">Custom domain</h2>
              <p class="text-sm d-none text-neutral-400 font-normal">All slides include a CTA, and are designed to fit only the important</p>
            </div>
          </div>
          <div class="stack-y item">
            <div class="illustration-container d-none">
              <div class="illustration"></div>
            </div>
            <div class="card">
              <h2 class="text-xl font-semibold d-font-normal">+300 integrations</h2>
              <p class="text-sm d-none text-neutral-400 font-normal">All slides include a CTA, and are designed to fit only the important</p>
            </div>
          </div>
        </div>
      </div>
      <div class="stack-y button-container center d-left">
        <input type="button" class="button" value="GET STARTED" />
      </div>
    </div>
    <div class="detail">
      <div class="stack-y item">
        <div class="illustration-container">
          <div class="illustration"></div>
        </div>
        <div class="stack-y center">
          <h2 class="text-3xl font-semibold d-font-normal text-white">Drive more sales</h2>
          <p class="text-lg text-white font-normal">All slides include a CTA, and are designed to fit only the important</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
