<html>
<head>
    <link rel="stylesheet" href="/layouts/features/slides/style.css" class="css">
</head>
<body>
<div class="slide features features-slides">
    <div class="background image bg-white clip">
        <img class="d-none" src="/public/slides_bg_reasons.png"/>
        <img class="none d-block" src="/public/slides_bg_reasons_desktop.png"/>
        <div class="panel">
            <div class="dots"></div>
            <svg class="svg">
                <clipPath id="left-clip" clipPathUnits="objectBoundingBox"><path d="M0.082,0 H1 V1 H0.078 C-0.028,0.642,-0.023,0.412,0.082,0"></path></clipPath>
            </svg>
            <svg class="svg-bottom">
                <clipPath id="bottom-clip" clipPathUnits="objectBoundingBox"><path d="M0,0.128 C0.196,0.037,0.306,0.006,0.501,0 C0.69,0.011,0.798,0.035,1,0.128 V1 H0 V0.128"></path></clipPath>
            </svg>
        </div>
    </div>
    <div class="container-full">
        <div class="content">
            <div class="carrousel-container">
                <div class="titles center d-left">
                    <h2 class="text-xl font-semibold d-text-4xl d-font-medium">Designed to do <span class="highlight-gradient-p500-s600">anything</span></h2>
                </div>
                <div class="stack-x carrousel x-scroll-snap no-scrollbar">
                    <div class="stack-y item active">
                        <div class="illustration-container d-none">
                            <div class="illustration"><img
                                    src="https://slites-site.s3.us-west-1.amazonaws.com/slides/drivemoresales.gif">
                            </div>
                        </div>
                        <div class="card"><h2 class="d-font-normal text-xl font-semibold">Receive payments</h2>
                            <p class="d-none text-sm font-normal text-neutral-400">Sell online whatever you want. 0%
                                commission fees.</p></div>
                    </div>
                    <div class="stack-y item">
                        <div class="illustration-container d-none">
                            <div class="illustration">
                              <img src="https://slites-site.s3.us-west-1.amazonaws.com/slides/leads.gif">
                            </div>
                        </div>
                        <div class="card"><h2 class="d-font-normal text-xl font-semibold">Collect leads</h2>
                            <p class="d-none text-sm font-normal text-neutral-400">Collect leads and store them safely
                                in Google sheets.</p></div>
                    </div>
                    <div class="stack-y item">
                        <div class="illustration-container d-none">
                            <div class="illustration"><img
                                    src="https://slites-site.s3.us-west-1.amazonaws.com/slides/email.gif"></div>
                        </div>
                        <div class="card"><h2 class="d-font-normal text-xl font-semibold">Email marketing</h2>
                            <p class="d-none text-sm font-normal text-neutral-400">Create email marketing campaigns to
                                engage your community and sell more.</p></div>
                    </div>
                    <div class="stack-y item">
                        <div class="illustration-container d-none">
                            <div class="illustration"><img
                                    src="https://slites-site.s3.us-west-1.amazonaws.com/slides/ads.gif"></div>
                        </div>
                        <div class="card"><h2 class="d-font-normal text-xl font-semibold">Run Ads</h2>
                            <p class="d-none text-sm font-normal text-neutral-400">Easily insert your Meta or Google
                                Pixel and acquire customers through ads.</p></div>
                    </div>
                    <div class="stack-y item">
                        <div class="illustration-container d-none">
                            <div class="illustration"><img
                                    src="https://slites-site.s3.us-west-1.amazonaws.com/slides/analytics.gif"></div>
                        </div>
                        <div class="card"><h2 class="d-font-normal text-xl font-semibold">Analyze your results</h2>
                            <p class="d-none text-sm font-normal text-neutral-400">Measure your performance with the #1
                                analytics tool, Google Analytics.</p></div>
                    </div>
                    <div class="stack-y item">
                        <div class="illustration-container d-none">
                            <div class="illustration"><img
                                    src="https://slites-site.s3.us-west-1.amazonaws.com/slides/blog.gif"></div>
                        </div>
                        <div class="card"><h2 class="d-font-normal text-xl font-semibold">Create a blog</h2>
                            <p class="d-none text-sm font-normal text-neutral-400">Create your very own blog and easily
                                update the content with Notion.</p></div>
                    </div>
                    <div class="stack-y item">
                        <div class="illustration-container d-none">
                            <div class="illustration"><img
                                    src="https://slites-site.s3.us-west-1.amazonaws.com/slides/seo.gif"></div>
                        </div>
                        <div class="card"><h2 class="d-font-normal text-xl font-semibold">Rank in Google</h2>
                            <p class="d-none text-sm font-normal text-neutral-400">Boost your online presence with
                                Slides and dominate search rankings.</p></div>
                    </div>
                    <div class="stack-y item">
                        <div class="illustration-container d-none">
                            <div class="illustration"><img
                                    src="https://slites-site.s3.us-west-1.amazonaws.com/slides/drivemoresales.gif">
                            </div>
                        </div>
                        <div class="card"><h2 class="d-font-normal text-xl font-semibold">Get a custom domain</h2>
                            <p class="d-none text-sm font-normal text-neutral-400">Get your slides.site/domain or
                                connect your own custom domain.</p></div>
                    </div>
                    <div class="stack-y item">
                        <div class="illustration-container d-none">
                            <div class="illustration"><img
                                    src="https://slites-site.s3.us-west-1.amazonaws.com/slides/api.gif"></div>
                        </div>
                        <div class="card"><h2 class="d-font-normal text-xl font-semibold">Over 300 integrations</h2>
                            <p class="d-none text-sm font-normal text-neutral-400">Expand your business capabilities
                                integrating to our third-party providers.</p></div>
                    </div>
                </div>
            </div>
            <div class="stack-y button-container center d-left">
                <input type="button" class="button" value="GET STARTED"/>
            </div>
        </div>
        <div class="detail">
            <div class="stack-y item">
                <div class="illustration-container">
                    <div class="illustration"></div>
                </div>
                <div class="stack-y center">
                    <h2 class="text-3xl font-semibold d-font-normal text-white">Drive more sales</h2>
                    <p class="text-lg text-white font-normal">All slides include a CTA, and are designed to fit only the
                        important</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
