.features-slides .container {
    padding-top: 5%;
    padding-bottom: 10%;
}

.features-slides .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 90%;
    gap: 1.5rem;
}

.features-slides .carrousel {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    justify-content: flex-start;
    gap: 0
}

.features-slides .carrousel-container {
    width: 100%;
    height: 75%;
}

.features-slides .item {
    min-width: 100%;
    padding: 2rem 2rem 1rem 2rem;
    gap: 1rem;
}


.features-slides .card {
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(119, 131, 133, 0.15);
    display: inline-flex;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}

.features-slides .illustration-container {
    width: 100%;
    flex: 1;
}

.features-slides .illustration {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.features-slides .illustration img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    object-fit: contain;
    max-height: 100%;
    border-radius: 1rem;
}

.features-slides .background {
    /*background-color: mediumvioletred;*/
}

.features-slides .detail {
    display: none;
}

@media (min-width: 780px){

    .features-slides .container-full {
        display: flex;
        width: 95%;
    }

    .features-slides .detail {
        display: flex;
        align-items: center;
        height: 100%;
        width: 40%;
    }

    .features-slides .detail .illustration-container {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .features-slides .content {
        justify-content: center;
        position: relative;
        height: 100%;
    }
    .features-slides .button-container {
        justify-content: flex-start;
        height: 20%;
        position: absolute;
        bottom: 0;
    }
    .features-slides .carrousel-container {
        width: 60vw;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features-slides .carrousel {
        flex-wrap: wrap;
        height: unset;
        gap: 0.875rem;
        overflow: visible;
        min-width: 500px;
    }

    .features-slides .item {
        min-width: unset;
        padding: unset;
        justify-content: center;
    }

    .features-slides .active .card {
        color: rgb(var(--color-primary-500));
        font-weight: 500;
        border: 4px solid rgb(var(--color-primary-500));
        border-radius: 1.25rem;
        padding: 2.5rem;
    }
}

.features-slides .background.clip .panel {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10dvh;
    -webkit-clip-path: url(#bottom-clip);
    clip-path: url(#bottom-clip);
    background: linear-gradient(180deg, #9174F5 0%, #7654F4 100%);
    opacity: 1.0;
}

@media (min-width: 780px) {

    .features-slides .background.clip .panel {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: unset;
        height: unset;
        width: 40vw;
        -webkit-clip-path: url(#left-clip);
        clip-path: url(#left-clip);
        opacity: 1.0;
    }
}
