body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.slide {
    width: 100%;
    height: 100dvh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container, .container-full {
    width: 100%;
    height: 100dvh;
    position: relative;
    overflow: visible;
}

h1, .h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

h2, .h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h3, .h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}


@media (min-width: 768px){
    .container {
        max-width: 1200px;
        width: 90%;
    }
}

/*@media (min-width: 1536px){*/
/*    .container {*/
        /*max-width: 1440px;*/
/*    }*/
/*}*/

.background {
    width: 100vw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.stack-y {
    display: flex;
    flex-direction: column;
}

.stack-x {
    display: flex;
    flex-direction: row;
}


*[contenteditable="true"] {
    border: 2px solid #ff6550;
    border-radius: 8px;
    padding: 5px;
    margin: 1px;
}

.center {
    align-items: center;
    text-align: center;
}

.left {
    align-items: start;
    text-align: left;
}

.right {
    align-items: end;
    text-align: right;
}

.none {
    display: none;
}

@media (min-width: 780px){
    .d-center {
        align-items: center;
        text-align: center;
    }

    .d-left {
        align-items: start;
        text-align: left;
    }

    .d-right {
        align-items: end;
        text-align: right;
    }

    .d-none {
        display: none;
    }

    .d-block {
        display: block;
    }
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    -webkit-tap-highlight-color: transparent;
}

.x-scroll-snap {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

.x-scroll-snap div {
    scroll-snap-align: center;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.social-button {
    position: relative;
}

.social-button::after {
    content: " ";
    position: absolute;
    inset: 4px;
    background-color: rgb(var(--color-primary-500));
    background-repeat: no-repeat;
    mask-size: 70%;
    mask-repeat: no-repeat;
    mask-position: center center;
}

.social-button.tiktok::after {
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M20.9995 7.91724V11.9512C19.1856 11.7713 17.456 11.0964 15.9995 10.0002V14.5002C15.9992 15.7214 15.655 16.9177 15.0062 17.9523C14.3574 18.9868 13.4303 19.8176 12.3312 20.3496C11.232 20.8816 10.0052 21.0931 8.79136 20.9601C7.5775 20.8271 6.42567 20.3548 5.46782 19.5974C4.50997 18.84 3.78485 17.828 3.37554 16.6775C2.96623 15.5271 2.88927 14.2845 3.1535 13.0923C3.41773 11.9001 4.01244 10.8065 4.86951 9.93666C5.72658 9.06684 6.81134 8.45604 7.99951 8.17424V12.5002C7.6586 12.7559 7.3887 13.0945 7.21545 13.4838C7.0422 13.8732 6.97134 14.3003 7.00961 14.7248C7.04788 15.1492 7.19401 15.5568 7.43411 15.9088C7.67421 16.2609 8.00033 16.5457 8.38148 16.7363C8.76263 16.9269 9.18617 17.0169 9.61188 16.9977C10.0376 16.9786 10.4513 16.8509 10.8138 16.6269C11.1763 16.4028 11.4756 16.0899 11.6831 15.7177C11.8906 15.3455 11.9995 14.9264 11.9995 14.5002V3.00024H16.0825C16.2907 4.22865 16.8759 5.36187 17.7569 6.24287C18.6379 7.12387 19.7711 7.70903 20.9995 7.91724Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M20.9995 7.91724V11.9512C19.1856 11.7713 17.456 11.0964 15.9995 10.0002V14.5002C15.9992 15.7214 15.655 16.9177 15.0062 17.9523C14.3574 18.9868 13.4303 19.8176 12.3312 20.3496C11.232 20.8816 10.0052 21.0931 8.79136 20.9601C7.5775 20.8271 6.42567 20.3548 5.46782 19.5974C4.50997 18.84 3.78485 17.828 3.37554 16.6775C2.96623 15.5271 2.88927 14.2845 3.1535 13.0923C3.41773 11.9001 4.01244 10.8065 4.86951 9.93666C5.72658 9.06684 6.81134 8.45604 7.99951 8.17424V12.5002C7.6586 12.7559 7.3887 13.0945 7.21545 13.4838C7.0422 13.8732 6.97134 14.3003 7.00961 14.7248C7.04788 15.1492 7.19401 15.5568 7.43411 15.9088C7.67421 16.2609 8.00033 16.5457 8.38148 16.7363C8.76263 16.9269 9.18617 17.0169 9.61188 16.9977C10.0376 16.9786 10.4513 16.8509 10.8138 16.6269C11.1763 16.4028 11.4756 16.0899 11.6831 15.7177C11.8906 15.3455 11.9995 14.9264 11.9995 14.5002V3.00024H16.0825C16.2907 4.22865 16.8759 5.36187 17.7569 6.24287C18.6379 7.12387 19.7711 7.70903 20.9995 7.91724Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.social-button.youtube::after {
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M2.99951 9.00024C2.99951 7.93938 3.42094 6.92196 4.17108 6.17182C4.92123 5.42167 5.93865 5.00024 6.99951 5.00024H16.9995C18.0604 5.00024 19.0778 5.42167 19.8279 6.17182C20.5781 6.92196 20.9995 7.93938 20.9995 9.00024V15.0002C20.9995 16.0611 20.5781 17.0785 19.8279 17.8287C19.0778 18.5788 18.0604 19.0002 16.9995 19.0002H6.99951C5.93865 19.0002 4.92123 18.5788 4.17108 17.8287C3.42094 17.0785 2.99951 16.0611 2.99951 15.0002V9.00024Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.99976 9L14.9998 12L9.99976 15V9Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M2.99951 9.00024C2.99951 7.93938 3.42094 6.92196 4.17108 6.17182C4.92123 5.42167 5.93865 5.00024 6.99951 5.00024H16.9995C18.0604 5.00024 19.0778 5.42167 19.8279 6.17182C20.5781 6.92196 20.9995 7.93938 20.9995 9.00024V15.0002C20.9995 16.0611 20.5781 17.0785 19.8279 17.8287C19.0778 18.5788 18.0604 19.0002 16.9995 19.0002H6.99951C5.93865 19.0002 4.92123 18.5788 4.17108 17.8287C3.42094 17.0785 2.99951 16.0611 2.99951 15.0002V9.00024Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.99976 9L14.9998 12L9.99976 15V9Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.social-button.instagram::after {
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M3.99878 7.99951C3.99878 6.93865 4.42021 5.92123 5.17035 5.17108C5.9205 4.42094 6.93791 3.99951 7.99878 3.99951H15.9988C17.0596 3.99951 18.0771 4.42094 18.8272 5.17108C19.5774 5.92123 19.9988 6.93865 19.9988 7.99951V15.9995C19.9988 17.0604 19.5774 18.0778 18.8272 18.8279C18.0771 19.5781 17.0596 19.9995 15.9988 19.9995H7.99878C6.93791 19.9995 5.9205 19.5781 5.17035 18.8279C4.42021 18.0778 3.99878 17.0604 3.99878 15.9995V7.99951Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.4988 7.49951V7.50951M8.99878 11.9995C8.99878 12.7952 9.31485 13.5582 9.87746 14.1208C10.4401 14.6834 11.2031 14.9995 11.9988 14.9995C12.7944 14.9995 13.5575 14.6834 14.1201 14.1208C14.6827 13.5582 14.9988 12.7952 14.9988 11.9995C14.9988 11.2039 14.6827 10.4408 14.1201 9.87819C13.5575 9.31558 12.7944 8.99951 11.9988 8.99951C11.2031 8.99951 10.4401 9.31558 9.87746 9.87819C9.31485 10.4408 8.99878 11.2039 8.99878 11.9995Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M3.99878 7.99951C3.99878 6.93865 4.42021 5.92123 5.17035 5.17108C5.9205 4.42094 6.93791 3.99951 7.99878 3.99951H15.9988C17.0596 3.99951 18.0771 4.42094 18.8272 5.17108C19.5774 5.92123 19.9988 6.93865 19.9988 7.99951V15.9995C19.9988 17.0604 19.5774 18.0778 18.8272 18.8279C18.0771 19.5781 17.0596 19.9995 15.9988 19.9995H7.99878C6.93791 19.9995 5.9205 19.5781 5.17035 18.8279C4.42021 18.0778 3.99878 17.0604 3.99878 15.9995V7.99951Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.4988 7.49951V7.50951M8.99878 11.9995C8.99878 12.7952 9.31485 13.5582 9.87746 14.1208C10.4401 14.6834 11.2031 14.9995 11.9988 14.9995C12.7944 14.9995 13.5575 14.6834 14.1201 14.1208C14.6827 13.5582 14.9988 12.7952 14.9988 11.9995C14.9988 11.2039 14.6827 10.4408 14.1201 9.87819C13.5575 9.31558 12.7944 8.99951 11.9988 8.99951C11.2031 8.99951 10.4401 9.31558 9.87746 9.87819C9.31485 10.4408 8.99878 11.2039 8.99878 11.9995Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.social-button.twitter::after {
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M22 4.01001C21 4.50001 20.02 4.69901 19 5.00001C17.879 3.73501 16.217 3.66501 14.62 4.26301C13.023 4.86101 11.977 6.32301 12 8.00001V9.00001C8.755 9.08301 5.865 7.60501 4 5.00001C4 5.00001 -0.182 12.433 8 16C6.128 17.247 4.261 18.088 2 18C5.308 19.803 8.913 20.423 12.034 19.517C15.614 18.477 18.556 15.794 19.685 11.775C20.0218 10.5527 20.189 9.28987 20.182 8.02201C20.182 7.77301 21.692 5.25001 22 4.00901V4.01001Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M22 4.01001C21 4.50001 20.02 4.69901 19 5.00001C17.879 3.73501 16.217 3.66501 14.62 4.26301C13.023 4.86101 11.977 6.32301 12 8.00001V9.00001C8.755 9.08301 5.865 7.60501 4 5.00001C4 5.00001 -0.182 12.433 8 16C6.128 17.247 4.261 18.088 2 18C5.308 19.803 8.913 20.423 12.034 19.517C15.614 18.477 18.556 15.794 19.685 11.775C20.0218 10.5527 20.189 9.28987 20.182 8.02201C20.182 7.77301 21.692 5.25001 22 4.00901V4.01001Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.social-button.linkedin::after {
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M7.99878 10.9995V15.9995M7.99878 7.99951V8.00951M11.9988 15.9995V10.9995M3.99878 5.99951C3.99878 5.46908 4.20949 4.96037 4.58457 4.5853C4.95964 4.21023 5.46835 3.99951 5.99878 3.99951H17.9988C18.5292 3.99951 19.0379 4.21023 19.413 4.5853C19.7881 4.96037 19.9988 5.46908 19.9988 5.99951V17.9995C19.9988 18.5299 19.7881 19.0387 19.413 19.4137C19.0379 19.7888 18.5292 19.9995 17.9988 19.9995H5.99878C5.46835 19.9995 4.95964 19.7888 4.58457 19.4137C4.20949 19.0387 3.99878 18.5299 3.99878 17.9995V5.99951Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.9985 15.9995V12.9995C15.9985 12.4691 15.7878 11.9604 15.4127 11.5853C15.0377 11.2102 14.529 10.9995 13.9985 10.9995C13.4681 10.9995 12.9594 11.2102 12.5843 11.5853C12.2092 11.9604 11.9985 12.4691 11.9985 12.9995" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M7.99878 10.9995V15.9995M7.99878 7.99951V8.00951M11.9988 15.9995V10.9995M3.99878 5.99951C3.99878 5.46908 4.20949 4.96037 4.58457 4.5853C4.95964 4.21023 5.46835 3.99951 5.99878 3.99951H17.9988C18.5292 3.99951 19.0379 4.21023 19.413 4.5853C19.7881 4.96037 19.9988 5.46908 19.9988 5.99951V17.9995C19.9988 18.5299 19.7881 19.0387 19.413 19.4137C19.0379 19.7888 18.5292 19.9995 17.9988 19.9995H5.99878C5.46835 19.9995 4.95964 19.7888 4.58457 19.4137C4.20949 19.0387 3.99878 18.5299 3.99878 17.9995V5.99951Z" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.9985 15.9995V12.9995C15.9985 12.4691 15.7878 11.9604 15.4127 11.5853C15.0377 11.2102 14.529 10.9995 13.9985 10.9995C13.4681 10.9995 12.9594 11.2102 12.5843 11.5853C12.2092 11.9604 11.9985 12.4691 11.9985 12.9995" stroke="%238049FD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.button {
    text-decoration: none;
    text-underline: none;
}

.gap-1 {
    gap: 1rem
}

.gap-05 {
    gap: 0.5rem
}
