<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/layouts/features/list/style.css" class="css">
</head>
<body>
  <div class="slide features list">
    <div class="background image bg-white clip">
      <img class="d-none" src="/public/slides_bg_wait.png" />
      <img class="none d-block" src="/public/slides_bg_wait_desktop.png" />
      <div class="panel">
        <div class="dots"></div>
        <svg class="svg">
          <clipPath id="desktop-w"
                    clipPathUnits="objectBoundingBox">
            <path d="M0.082,0 H1 V1 H0.078 C-0.028,0.642,-0.023,0.412,0.082,0"></path>
          </clipPath>
        </svg>
        <svg class="svg-top">
          <clipPath id="mobile-w" clipPathUnits="objectBoundingBox"><path d="M0,0.033 C0.172,0.01,0.305,0.003,0.505,0 C0.698,0.003,0.781,0.007,1,0.033 L0.995,1 H0 V0.033"></path></clipPath>
        </svg>
      </div>
    </div>
  <div class="container">
    <div class="content">
      <div class="stack-y titles center d-left">
        <h1 class="text-black font-bold text-xl d-text-3xl">Can't wait?</h1>
        <h2 class="font-light text-xl d-text-3xl">Get your custom <span class="highlight-gradient-p400-p600">slidesite</span><br/>
          <span class="text-primary text-4xl d-text-5xl highlight-underline font-bold">in 7 days</span>
        </h2>
      </div>
      <div class="carrousel-container">
        <h2 class="font-semibold text-base text-white">YOU WILL GET</h2>
        <div class="stack-x carrousel x-scroll-snap no-scrollbar">
          <div class="carrousel-item">
            <div class="item">
              <span class="icon">😎</span>
              <span class="text-sm">Up to 6 slides styled for you</span>
            </div>
            <div class="item">
              <span class="icon">🤩</span>
              <span class="text-sm">Beautifully crafted design</span>
            </div>
            <div class="item">
              <span class="icon">🤓</span>
              <span class="text-sm">State-of-the-art technology</span>
            </div>
            <div class="item">
              <span class="icon">🚀</span>
              <span class="text-sm">NASA-level SEO</span>
            </div>
          </div>
          <div class="carrousel-item">
            <div class="item">
              <span class="icon">🤑</span>
              <span class="text-sm">Lifetime Slides subscription</span>
            </div>
            <div class="item">
              <span class="icon">✍️</span>
              <span class="text-sm">Panel to update content</span>
            </div>
            <div class="item">
              <span class="icon">🤖</span>
              <span class="text-sm">Free hosting for life</span>
            </div>
            <div class="item">
              <span class="icon">🤗</span>
              <span class="text-sm">Customer support</span>
            </div>
          </div>
        </div>
        <div class="carrousel-index">
          <div class="index active"></div>
          <div class="index"></div>
        </div>
      </div>
      <div class="stack-y button-container center d-left">
        <input type="button" class="button dark" value="ONLY FOR $499" />
      </div>
    </div>
  </div>
</div>
</body>
</html>
