<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/layouts/about/antartica/style.css" class="css">
</head>
<body>
  <div class="slide about about-antartica">
  <div class="background image-panorama">
  </div>
  <div class="container">
    <div class="content">
      <div class="carrousel-container">
        <div class="stack-x carrousel x-scroll-snap">
          <div class="carrousel-item">
            <div class="card">
              <h1 class="text-3xl d-text-4xl font-black"> ¿QUÉ ES <br/><span class="highlight-normal">ANTÁRTICA PRESS?</span></h1>
              <p class="text-base d-text-xl font-normal">Es un medio de as asa sas as a sascomunicación que une periodismo en territorio. as as as as as as as as as as  as</p>
            </div>
          </div>
          <div class="carrousel-item">
            <div class="card">
              <p class="text-base d-text-xl font-normal">
                asdj asoidj asiodj aiosjd asdasd ioajsd ioasjd ioasjd aiosjd aiosd jaiosdj aiosdj aiosdj asiodj asiodj asiodj asiodj asiodja siodja siodja sodija siodja sdiojas dioajs dioasjd aiosjd aiosdj asiodj asiod
              </p>
            </div>
          </div>
          <div class="carrousel-item">
            <div class="card">
              <p class="text-base d-text-xl font-normal">
                Es un medio de comunicación que une periodismo en territorio con acción directa.<br/><br> Lorem ipsum sanctus a pastium pasela man.
              </p>
            </div>
          </div>
        </div>
        <div class="carrousel-index">
          <div class="index active"></div>
          <div class="index"></div>
          <div class="index"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
