<html>
<head>
    <link rel="stylesheet" href="/layouts/hero/slides/style.css" class="css">
</head>
<body>
<div class="slide hero hero-slides">
    <div class="background image bg-white">
        <img class="d-none" src="/public/slides_bg_mobile2.png" />
        <img class="none d-block" src="/public/slides_bg_desktop.png" />
    </div>
    <div class="container">
        <div class="content">
            <div class="stack-y titles center d-left">
                <h1 class="text-black font-normal text-xl d-text-5xl">Create a <span class="highlight-gradient-p400-p600">slidesite</span></h1>
                <h2 class="font-light text-xl d-text-3xl">Get your swipe-up <span class="highlight-background">website</span><br/>
                    <span class="text-primary text-4xl d-text-5xl highlight-underline font-bold">in 3 minutes</span>
                </h2>
            </div>
            <div class="animation-container">
                <div class="animation">
                </div>
            </div>
            <div class="stack-y button-container center d-left">
                <input type="button" class="button" value="GET STARTED" />
            </div>
        </div>
    </div>
</div>
</body>
</html>
