<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/layouts/about/antartica-v2/style.css" class="css">
</head>
<body>
<div class="slide about about-antartica">
    <div class="background image-panorama">
    </div>
    <div class="container-full">
        <div class="content">
            <div class="media">

            </div>
            <div>
                <div class="carrousel-container">
                    <div class="stack-x carrousel x-scroll-snap no-scrollbar">
                        <div class="carrousel-item">
                            <div class="card"><h1 class="d-text-4xl text-3xl font-black"> <!-- -->¿QUÉ ES <br><span
                                    class="highlight-normal-secondary">ANTÁRTICA PRESS?</span></h1>
                                <p class="d-text-lg text-base font-normal">Somos un medio de comunicación que une periodismo
                                    en territorio con acción directa.</p></div>
                        </div>
                        <div class="carrousel-item">
                            <div class="card"><p class="d-text-lg text-base font-normal">Buscamos instalar temas urgentes en
                                la agenda internacional y promover un cambio. <br>Somos también una agencia: trabajamos en
                                colaboración con otros medios para que las historias lleguen más lejos.</p></div>
                        </div>
                        <div class="carrousel-item">
                            <div class="card"><p class="d-text-lg text-base font-normal">Básicamente, somos periodistas
                                recorriendo el mundo para contar historias que no deberían existir.</p>
                                <div class="stack-y center align-center flex-1 justify-center">
                                    <div style="display:inherit" tabindex="0"><a class="button w-full" target="_self"
                                                                                 href="/antarticapress/manifiesto">LEÉ
                                        NUESTRO MANIFIESTO</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carrousel-index">
                        <div class="index active"></div>
                        <div class="index"></div>
                        <div class="index"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
