/*GLOBAL STYLE*/

.carrousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrousel {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    justify-content: flex-start;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.carrousel::-webkit-scrollbar {
    display: none;
}

.carrousel-item .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: start;
    justify-content: start;
}

.card {
    background-color: rgb(var(--color-white));
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    box-shadow: 8px 8px 0 0 #000;
    align-content: start;
    align-items: start;
}

.highlight-normal {
    background: linear-gradient(180deg, transparent 0%, transparent 45%, rgb(var(--color-secondary-500)) 55%, rgb(var(--color-secondary-500)) 100%);
    padding: 0 0.2rem;
}

.button, .link-button {
    display: flex;
    padding: 0.875rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid #000;
    background: rgb(var(--color-white));
    box-shadow: 3px 3px 0 0 #000;
    text-decoration: none;
    color: rgb(var(--color-black));
    font-weight: 900;
    font-size: 0.875rem;
    transition: 0.15s all ease;
}

.link-button {
    font-size: 1rem;
}

.index {
    background-color: rgb(var(--color-white));
    opacity: 0.5;
}

.index.active {
    background-color: rgb(var(--color-white));
    width: 0.5rem;
    opacity: 1.0;
}


.notion-app b{
    color: #000
}

.notion-asset-caption, .notion-text {
    color: #475467;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.notion-app h1 .notion-yellow_background,
.notion-app h2 .notion-yellow_background,
.notion-app h3 .notion-yellow_background {
    background: linear-gradient(180deg,transparent 0,transparent 45%,rgb(var(--color-secondary-500)) 55%,rgb(var(--color-secondary-500)) 100%);
    padding: 0 .2rem;
}

.notion-app h1,
.notion-app h2,
.notion-app h3 {
    color: #000
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    object-fit: fill !important;
}

.notion-callout, .notion-quote {
    align-self: center;
    width: 95%;
    border: unset;
    border: 3px solid #000;
    background: rgb(var(--color-secondary-500));
    box-shadow: 4px 4px 0 0 #000;

    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.8rem; /* 150% */

    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem;
}

.notion-callout {
    background-color: rgb(var(--color-primary-500));;
}

.notion-quote:after {
    content: unset;
}

.notion-quote:before {
    content: unset;
}

.notion-page {
    width: 90% !important;
    max-width: 680px !important;
}

.initial-letter .notion-text:not(.notion-text ~ .notion-text)::first-letter {
    line-break: auto;
    line-height: 1em;
    font-size: 3rem;
    font-weight: 400;
    overflow-wrap: normal;
    float: left;
    padding: 0.3rem 0.3rem 0 0;
}


.notion-app .notion-yellow_background {
    background: linear-gradient(180deg,transparent 0,transparent 45%,rgb(var(--color-secondary-500)) 55%,rgb(var(--color-secondary-500)) 100%);
    padding: 0 .2rem;
    color: #000;
}

.notion-text {
    line-height: 1.8rem !important;
}
