/*GLOBAL STYLE*/

.carrousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrousel {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    justify-content: flex-start;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.carrousel::-webkit-scrollbar {
    display: none;
}

.carrousel-item .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: start;
    justify-content: start;
}

.card {
    background-color: rgb(var(--color-white));
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    box-shadow: 8px 8px 0 0 #000;
    align-content: start;
    align-items: start;
}

.highlight-normal {
    background: linear-gradient(180deg, transparent 0%, transparent 45%, rgb(var(--color-secondary-500)) 55%, rgb(var(--color-secondary-500)) 100%);
    padding: 0 0.2rem;
}

.button, .link-button {
    display: flex;
    padding: 0.75rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid #000;
    background: rgb(var(--color-white));
    box-shadow: 3px 3px 0 0 #000;
    text-decoration: none;
    color: rgb(var(--color-black));
    font-weight: 900;
    font-size: 0.75rem;
    transition: 0.15s all ease;
}

/*.button:hover {*/
/*    transform: scale(1.05);*/
/*}*/

/*.button:active {*/
/*    transform: scale(0.95);*/
/*}*/

.index {
    background-color: #FFF;
    opacity: 0.5;
}

.index.active {
    width: 0.5rem;
}
