
.highlight-gradient-p400-p600 {
    font-weight: 500;
    background: rgb(var(--color-primary-400));
    background: linear-gradient(45deg, rgb(var(--color-primary-400)) 0%, rgb(var(--color-primary-600)) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight-gradient-p600-p400 {
    font-weight: 500;
    background: rgb(var(--color-primary-400));
    background: linear-gradient(45deg, rgb(var(--color-primary-600)) 0%, rgb(var(--color-primary-400)) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight-underline {
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg width="144" height="7" viewBox="0 0 144 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.8" d="M1.10628 2.18961C41.4394 1.01475 126.37 -0.569918 143.428 2.49028C95.9793 2.70292 1.06605 3.78531 0.999778 6.41377C47.083 5.54053 140.068 4.19042 143.345 5.77584" stroke="%23CEB8FE"/></svg>');
    background-position: bottom right;
    background-size: 90%;
}

.highlight-background {
    border-radius: 0.1rem;
    padding: 0.05rem 0.1rem;
    background-color: rgb(var(--color-primary-200));
}

.highlight-border-blur {
    position: relative;
    padding: 0 0.4rem;
}

.highlight-border-blur::after {
    content: ' ';
    position: absolute;
    inset: -1px;
    border-radius: 0.3rem;
    border: 3px solid #FFF;
    opacity: 0.2;
    filter: blur(1px);
}

.highlight-border-blur::before {
    content: ' ';
    position: absolute;
    inset: 0;
    border-radius: 0.3rem;
    border: 1px solid #FFF;
    opacity: 1;
}

.button {
    color: rgb(var(--color-white));
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(180deg, rgb(var(--color-primary-400)) 0%, rgb(var(--color-primary-500)) 100%);
    box-shadow: 0 4px 20px 0 rgb(var(--color-primary-400));
}

.button.light {
    color: rgb(var(--color-primary-500));
    background: rgb(var(--color-white));
    box-shadow: 0 4px 20px 0 rgb(var(--color-primary-400));
}

.button.dark {
    color: rgb(var(--color-white));
    background: rgb(var(--color-black));
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.40);
}

/*.button:hover {*/
/*    transform: scale(1.05);*/
/*    opacity: 0.9;*/
/*}*/

/*.button:focus {*/
/*    transform: scale(0.9);*/
/*    opacity: 1;*/
/*}*/

.link-button {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-primary-500));
    border-radius: 1.5rem;
    box-shadow: 0 4px 12px 0 rgba(7, 1, 28, 0.15);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    overflow: visible;
}

@media (min-width: 780px) {
    .button.d-light {
        color: rgb(var(--color-primary-500));
        background: rgb(var(--color-white));
        box-shadow: 0 4px 20px 0 rgb(var(--color-primary-400));
    }
    .button.d-dark {
        color: rgb(var(--color-white));
        background: rgb(var(--color-black));
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.40);
    }
}



.background.clip .panel .dots {
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none"><rect width="2" height="2" fill="black"/></svg>');
    opacity: 0.2;
}

.background.clip .panel::after {
    content: " ";
    position: absolute;
    inset: 0;
    border-radius: 52rem;
    opacity: 0.15;
    background: linear-gradient(137deg, #C2D5FF 1.10%, #F3F5FE 46.09%, rgba(152, 108, 253, 0.50) 94.14%);
    filter: blur(153.54330444335938px);
}

.index {
    background-color: rgb(var(--color-primary-200));
    opacity: 1;
}

.index.active {
    width: 1rem;
    background-color: rgb(var(--color-primary-500));
    opacity: 1;
}
